* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(214, 220, 225);
  font-family: sans-serif;
}
form {
  width: 40%;
  height: 550px;
  margin: 200px auto;
  padding: 20px 0 20px 37px;
  border-radius: 20px;
  background-color: #fff;
}
h1 {
  text-align: center;
  margin-bottom: 25px;
}
p {
  font-size: 17px;
  margin-bottom: 20px;
}
label {
  margin-bottom: 10px;
  font-size: 15.5px;
}
input {
  width: 500px;
  height: 29px;
  padding-left: 10px;
}
.flexbox {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
button {
  width: 515px;
  height: 50px;
  background-color: rgb(64, 228, 64);
  color: #fff;
  border: none;
  font-size: 17px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: 0.3s;
}
button:hover {
  background-color: rgb(31, 95, 31);
  transition: 0.2s;
}
